<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IS21DotNet.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
	<connectionStrings>
	 <add name="IS21DotNet.DataModels.Properties.Settings.is21webConnection" connectionString="Data Source=129.0.0.34;Persist Security Info=True;Password=is21adm;User ID=is21adm;Initial Catalog=is21web_HKPCD_CRM" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <!--<system.transactions>
    <defaultSettings timeout="00:00:00"/>
    <machineSettings maxTimeout="00:00:00"/>
  </system.transactions>-->
    <applicationSettings>
        <IS21DotNet.Reports.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>ISLREPORT</value>
            </setting>
            <setting name="DefaultEmailServerName" serializeAs="String">
                <value>webmail.infoware.com.hk</value>
            </setting>
            <setting name="DefaultEmailServerLogin" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultEmailServerPasword" serializeAs="String">
                <value/>
            </setting>
            <setting name="OutputFilePath" serializeAs="String">
                <value>Reports</value>
            </setting>
            <setting name="DefaultLogPath" serializeAs="String">
                <value>Log</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
        </IS21DotNet.Reports.Properties.Settings>
    </applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
